<div class="content" role="main" style="height: 100vh;">
  <ngx-graph
    class="chart-container"
    [view]="undefined"
    [links]="links"
    [nodes]="nodes"
    [layoutSettings]="{ orientation: 'TB' }"
    [draggingEnabled]="false"
    [curve]="curve"
    [autoCenter]="true"
  >
    <!-- [layout]="layout" -->
    <!-- [view]="[500, 550]" -->
    <!-- [clusters]="clustures" -->
    <ng-template #defsTemplate>
      <svg:marker
        id="arrow"
        viewBox="0 -5 10 10"
        refX="8"
        refY="0"
        markerWidth="4"
        markerHeight="4"
        orient="auto"
      >
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #clusterTemplate let-cluster>
      <svg:g class="node cluster" [matTooltip]="cluster.label">
        <svg:rect
          rx="5"
          ry="5"
          [attr.width]="cluster.dimension.width"
          [attr.height]="cluster.dimension.height"
          [attr.fill]="cluster.data.color"
        />
      </svg:g>
    </ng-template>
    <ng-template #nodeTemplate let-node>
      <svg:g
        class="node"
        [matTooltip]="node.label"
        (click)="stageClick(node)"
        style="cursor: pointer;"
      >
        <svg:rect
          [attr.width]="node.dimension.width"
          [attr.height]="node.dimension.height"
          [attr.fill]="node.color"
        />
        <!-- [attr.fill]="node.data.color" -->
        <svg:text
          alignment-baseline="central"
          [attr.x]="10"
          [attr.y]="node.dimension.height / 2"
        >
          {{ node.label }}
        </svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge" style="cursor: pointer;">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)"
        ></svg:path>
        <svg:text class="edge-label" text-anchor="middle">
          <textPath
            class="text-path"
            [attr.href]="'#' + link.id"
            [style.dominant-baseline]="link.dominantBaseline"
            startOffset="50%"
            style="fill: #666;"
            (click)="clickLink(link)"
          >
            {{ link.label }}
          </textPath>
        </svg:text>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>
