@font-face {
  font-family: 'flowtopia-icon';
  src:  url('../fonts/icomoon.eot?wryae8');
  src:  url('../fonts/icomoon.eot?wryae8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wryae8') format('truetype'),
    url('../fonts/icomoon.woff?wryae8') format('woff'),
    url('../fonts/icomoon.svg?wryae8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'flowtopia-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-alarm:before {
    content: "\e900";
  }
  .icon-arroba:before {
    content: "\e901";
  }
  .icon-bar-chart:before {
    content: "\e902";
  }
  .icon-basketball:before {
    content: "\e903";
  }
  .icon-book:before {
    content: "\e904";
  }
  .icon-bug:before {
    content: "\e905";
  }
  .icon-cancel:before {
    content: "\e906";
  }
  .icon-checked-1:before {
    content: "\e907";
  }
  .icon-checked:before {
    content: "\e908";
  }
  .icon-circular:before {
    content: "\e909";
  }
  .icon-clipboard-1:before {
    content: "\e90a";
  }
  .icon-clipboard:before {
    content: "\e90b";
  }
  .icon-clock:before {
    content: "\e90c";
  }
  .icon-cloud-computing-1:before {
    content: "\e90d";
  }
  .icon-cloud-computing-2:before {
    content: "\e90e";
  }
  .icon-cloud-computing-3:before {
    content: "\e90f";
  }
  .icon-cloud-computing:before {
    content: "\e910";
  }
  .icon-cloud:before {
    content: "\e911";
  }
  .icon-computer-1:before {
    content: "\e912";
  }
  .icon-computer:before {
    content: "\e913";
  }
  .icon-credit-card:before {
    content: "\e914";
  }
  .icon-cursor:before {
    content: "\e915";
  }
  .icon-devices:before {
    content: "\e916";
  }
  .icon-dial-1:before {
    content: "\e917";
  }
  .icon-dial:before {
    content: "\e918";
  }
  .icon-download-1:before {
    content: "\e919";
  }
  .icon-download-2:before {
    content: "\e91a";
  }
  .icon-download:before {
    content: "\e91b";
  }
  .icon-earth-globe:before {
    content: "\e91c";
  }
  .icon-edit-1:before {
    content: "\e91d";
  }
  .icon-edit:before {
    content: "\e91e";
  }
  .icon-email-1:before {
    content: "\e91f";
  }
  .icon-email:before {
    content: "\e920";
  }
  .icon-eye:before {
    content: "\e921";
  }
  .icon-flag:before {
    content: "\e922";
  }
  .icon-folder:before {
    content: "\e923";
  }
  .icon-glasses:before {
    content: "\e924";
  }
  .icon-head-1:before {
    content: "\e925";
  }
  .icon-head:before {
    content: "\e926";
  }
  .icon-headphones:before {
    content: "\e927";
  }
  .icon-heart:before {
    content: "\e928";
  }
  .icon-hide:before {
    content: "\e929";
  }
  .icon-infinity:before {
    content: "\e92a";
  }
  .icon-laptop:before {
    content: "\e92b";
  }
  .icon-levels-1:before {
    content: "\e92c";
  }
  .icon-levels:before {
    content: "\e92d";
  }
  .icon-light-bulb:before {
    content: "\e92e";
  }
  .icon-like:before {
    content: "\e92f";
  }
  .icon-list:before {
    content: "\e930";
  }
  .icon-login-1:before {
    content: "\e931";
  }
  .icon-login:before {
    content: "\e932";
  }
  .icon-logout-1:before {
    content: "\e933";
  }
  .icon-logout:before {
    content: "\e934";
  }
  .icon-mail-1:before {
    content: "\e935";
  }
  .icon-mail:before {
    content: "\e936";
  }
  .icon-megaphone:before {
    content: "\e937";
  }
  .icon-microphone:before {
    content: "\e938";
  }
  .icon-mouse-1:before {
    content: "\e939";
  }
  .icon-mouse:before {
    content: "\e93a";
  }
  .icon-next-1:before {
    content: "\e93b";
  }
  .icon-next-2:before {
    content: "\e93c";
  }
  .icon-next-3:before {
    content: "\e93d";
  }
  .icon-next:before {
    content: "\e93e";
  }
  .icon-padlock-1:before {
    content: "\e93f";
  }
  .icon-padlock:before {
    content: "\e940";
  }
  .icon-paper-plane-1:before {
    content: "\e941";
  }
  .icon-paper-plane:before {
    content: "\e942";
  }
  .icon-pencil-1:before {
    content: "\e943";
  }
  .icon-pencil1:before {
    content: "\e944";
  }
  .icon-phone-call:before {
    content: "\e945";
  }
  .icon-photo-camera-1:before {
    content: "\e946";
  }
  .icon-photo-camera:before {
    content: "\e947";
  }
  .icon-picture:before {
    content: "\e948";
  }
  .icon-pie-chart:before {
    content: "\e949";
  }
  .icon-piggy-bank:before {
    content: "\e94a";
  }
  .icon-placeholder:before {
    content: "\e94b";
  }
  .icon-plug-1:before {
    content: "\e94c";
  }
  .icon-plug-2:before {
    content: "\e94d";
  }
  .icon-plug:before {
    content: "\e94e";
  }
  .icon-power-button:before {
    content: "\e94f";
  }
  .icon-printer:before {
    content: "\e950";
  }
  .icon-reload:before {
    content: "\e951";
  }
  .icon-repeat-1:before {
    content: "\e952";
  }
  .icon-repeat-2:before {
    content: "\e953";
  }
  .icon-repeat:before {
    content: "\e954";
  }
  .icon-reply:before {
    content: "\e955";
  }
  .icon-screen-1:before {
    content: "\e956";
  }
  .icon-screen:before {
    content: "\e957";
  }
  .icon-search1:before {
    content: "\e958";
  }
  .icon-server:before {
    content: "\e959";
  }
  .icon-settings-1:before {
    content: "\e95a";
  }
  .icon-settings-2:before {
    content: "\e95b";
  }
  .icon-settings:before {
    content: "\e95c";
  }
  .icon-share:before {
    content: "\e95d";
  }
  .icon-shopping-bag:before {
    content: "\e95e";
  }
  .icon-shuffle-1:before {
    content: "\e95f";
  }
  .icon-shuffle-2:before {
    content: "\e960";
  }
  .icon-shuffle:before {
    content: "\e961";
  }
  .icon-sitemap:before {
    content: "\e962";
  }
  .icon-sledge:before {
    content: "\e963";
  }
  .icon-speaker-1:before {
    content: "\e964";
  }
  .icon-speaker:before {
    content: "\e965";
  }
  .icon-speech-bubble-1:before {
    content: "\e966";
  }
  .icon-speech-bubble-2:before {
    content: "\e967";
  }
  .icon-speech-bubble-3:before {
    content: "\e968";
  }
  .icon-speech-bubble-4:before {
    content: "\e969";
  }
  .icon-speech-bubble-5:before {
    content: "\e96a";
  }
  .icon-speech-bubble:before {
    content: "\e96b";
  }
  .icon-switch-1:before {
    content: "\e96c";
  }
  .icon-switch:before {
    content: "\e96d";
  }
  .icon-tag:before {
    content: "\e96e";
  }
  .icon-target:before {
    content: "\e96f";
  }
  .icon-telephone:before {
    content: "\e970";
  }
  .icon-transfer-1:before {
    content: "\e971";
  }
  .icon-transfer:before {
    content: "\e972";
  }
  .icon-trash-1:before {
    content: "\e973";
  }
  .icon-trash:before {
    content: "\e974";
  }
  .icon-umbrella:before {
    content: "\e975";
  }
  .icon-upload-1:before {
    content: "\e976";
  }
  .icon-upload-2:before {
    content: "\e977";
  }
  .icon-upload-3:before {
    content: "\e978";
  }
  .icon-upload-4:before {
    content: "\e979";
  }
  .icon-upload:before {
    content: "\e97a";
  }
  .icon-user-1:before {
    content: "\e97b";
  }
  .icon-user-2:before {
    content: "\e97c";
  }
  .icon-user-3:before {
    content: "\e97d";
  }
  .icon-user:before {
    content: "\e97e";
  }
  .icon-users:before {
    content: "\e97f";
  }
  .icon-volume:before {
    content: "\e980";
  }
  .icon-angle_double_down:before {
    content: "\e981";
  }
  .icon-angle_double_left:before {
    content: "\e982";
  }
  .icon-angle_double_right:before {
    content: "\e983";
  }
  .icon-angle_double_up:before {
    content: "\e984";
  }
  .icon-angle_down:before {
    content: "\e985";
  }
  .icon-angle_left:before {
    content: "\e986";
  }
  .icon-angle_right:before {
    content: "\e987";
  }
  .icon-angle_up:before {
    content: "\e988";
  }
  .icon-calendar:before {
    content: "\e989";
  }
  .icon-check:before {
    content: "\e98a";
  }
  .icon-close:before {
    content: "\e98b";
  }
  .icon-dot_menu:before {
    content: "\e98c";
  }
  .icon-drag:before {
    content: "\e98d";
  }
  .icon-lap:before {
    content: "\e98e";
  }
  .icon-minus_circle:before {
    content: "\e98f";
  }
  .icon-minus_sharp:before {
    content: "\e990";
  }
  .icon-minus:before {
    content: "\e991";
  }
  .icon-pencil:before {
    content: "\e992";
  }
  .icon-plus_circle:before {
    content: "\e993";
  }
  .icon-plus_sharp:before {
    content: "\e994";
  }
  .icon-plus:before {
    content: "\e995";
  }
  .icon-search:before {
    content: "\e996";
  }
  .icon-template:before {
    content: "\e997";
  }
  .icon-time:before {
    content: "\e998";
  }


