// .btn_class {
//   position: absolute;
//   top: 60px;
//   right: 20px;
//   clear: both;
//   box-sizing: content-box;
// }

.btn_class {
  position: absolute;
  right: 10px;
  top: 60px;
  clear: both;
  button {
    min-width: 90px;
    margin: 10px;
    z-index: 1;
  }
}
