
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$form-builder-primary: mat-palette($mat-indigo);
$form-builder-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$form-builder-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$form-builder-theme: mat-light-theme($form-builder-primary, $form-builder-accent, $form-builder-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($form-builder-theme);

/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('assets/scss/icon-font.scss');
@import 'assets/scss/_variables';
@import 'assets/scss/_forms';
@import 'assets/scss/_mixins';

*{
    font-family: $font-stack !important;
    font-weight: 400;
    word-break: break-word;
}
*, ::after, ::before {
    box-sizing: border-box;
    outline: none;
}
html, body{
    background-color: $bg-color;
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: $main-color;
}
pre {
  word-break: break-word;
  white-space: pre-line;
}
img{
    width: 100%;
}
ul{
    list-style: none;
    margin: 0; padding: 0;
    li{
        display: inline;
    }
}
a,button,.link{
    border: none;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a:hover,button:hover,.link:hover{
    text-decoration: none;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
body.nav_expanded .sidebar{
    width: 260px;
}
body.nav_expanded .app_layout{
    width: calc(100% - 260px);
}
.block_section{
    height: calc(100vh - 90px);
}
.height_100{
    height: 100%;
}
.dashboard_list{
    height: calc(100vh - 185px);
}


.date_input{
    position: relative;
    .mat-icon-button{
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 0;
        right: 0;
        line-height: 30px;
        svg{
            width: 15px;
            height: 15px;
        }
    }
}
.mat-datepicker-toggle-active{
    button svg{
        color: $link-color;
    }
}
.form_control .mat-select-arrow{
    border: none;
    width: 14px;
    height: 14px;
    text-align: right;
    margin: 0;
    &::after{
        content: '\e985';
        font-family: 'flowtopia-icon';
    }
}
.mat-select-placeholder{
    color: $form-fill;
    opacity: 0.5;
}
.select_control{
    padding: 0 !important;
    .mat-select-trigger{
        padding: 8px 10px;
        font-size: 11px;
    }
}
.empty_section{
    @include flexAlignCenter(column);
    justify-content: center;
    height: 100%;
    padding-bottom: 60px;
    h1{
        font-size: 1.5em;
        font-weight: 200;
        margin: 0px 0px 8px;
        color: $heading-color;
    }
    button{
        padding: 0px 18px;
        border-radius: 2px;
        font-size: 12px;
        span.mat-button-wrapper{
            font-weight: 500;
        }
    }
}

.nav_expanded .sidebar .icon-angle_double_left::before{
    transform: rotate(0deg) !important;
}
.app_layout{
    @include appLayoutTransition();
    position: absolute;
    height: calc(100% - 55px);
    width: calc(100% - 55px);
    top: 55px; right: 0;
    overflow-y: auto;
    padding: 15px;
    overflow: hidden;
}
.app_navbar .mat-button-wrapper{
    @include flexAlignCenter(row);
    span.name{
        flex: 1;
        @include textEllipsis();
        max-width: 164px;
        font-weight: 500;
    }
}
.process_sidebar .app_navbar .mat-button-wrapper{
    span.name{
        max-width: 170px;
    }
}
.app_row{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 -10px;
}
.col_1,.col_2,.col_3,.col_4,.col_5,.col_6,.col_7,
.col_8,.col_9,.col_10,.col_11,.col_12{
    padding: 0 10px;
}
.col_1{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col_2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col_3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col_4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col_5{
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col_6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col_7{
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col_8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col_9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col_10{
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col_11{
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col_12{
    flex: 0 0 100%;
    max-width: 100%;
}
.text_right{
    text-align: right !important;
}
.text_left{
    text-align: left !important;
}
.text_center{
    text-align: center !important;
}
.text_uppercase{
    text-transform: uppercase;
}
.label_danger{
    color: $danger-color;
}
.label_valid{
    color: $valid-color;
}
.label_success{
    color: $success-color;
}
.dashboard_list {
    .mat-expansion-panel-header{
        height: 50px !important;
        padding: 0;
        cursor: pointer;
        h2{
            margin: 0px;
            font-weight: 600;
            font-size: 16px;
        }
    }
    .mat-expansion-panel-body{
        padding: 0;
    }
    .mat-expansion-panel{
        background-color: transparent;
        border-radius: 0 !important;
        box-shadow: none;
    }
    .mat-expansion-indicator{
        width: 30px;
        height: 30px;
        background-color: rgb(232, 234, 242);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(0deg);
        &::after{
            position: absolute;
            top: 10px;
        }
    }

    .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
    .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
    .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:hover:not([aria-disabled="true"]){
        background-color: transparent;
    }
}
.dash_content_scroll{
    // max-height: calc(100vh - 185px);
    // overflow-y: auto;
    margin: 0px -10px;
    padding: 0px 10px;
    overflow-x: hidden;
}


.block_header{
    border-bottom: 1px solid $line-color;
    @include flexAlignCenter(row);
    height: 50px;
    padding: 0 15px;
    background-color: #4b5568;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    h2{
        margin: 0px;
        font-weight: 500;
        font-size: 14px;
        flex: 1;
        @include textEllipsis();
        max-width: 100%;
    }
    .close_block{
        width: 35px;
        height: 35px;
        padding: 0px;
        margin: 0px -5px 0px 15px;
        border-radius: 50%;
        border: none;
        min-width: auto;
        color: #fff;
        line-height: 12px;
        background-color: rgba(0, 0, 0, 0.08);
        box-shadow: 0px 0px 0.1px 0px rgba(67, 108, 237, 0.3);
        span{
            font-size: 13px;
        }
    }
}
.block_footer{
    border-top: 1px solid $line-color;
    @include flexAlignCenter(row);
    height: 70px;
    padding: 0 15px;
    justify-content: flex-end;
    background-color: #fff;
    button{
        padding: 0px 18px;
        border-radius: 3px;
        font-size: 12px;
        margin-left: 5px;
        span.mat-button-wrapper{
            font-weight: 500;
        }
    }
}
.block_content{
    padding: 15px 15px 0;
    // height: calc(100vh - 345px);
    // overflow-y: auto;
}

.btn_primary{
    color: $white-color;
    background-color: $primary-color;
}
.btn_cancel{
    color: $basic-color;
    background-color: $bg-color;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 60px;
    top: 55px; left: 0;
    overflow: hidden;
    border-right: 1px solid $border-color;
    background-color: $white-color;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transition: width 0.3s, left 0.3s;
    -webkit-transition: width 0.3s, left 0.3s;
    -moz-transition: width 0.3s, left 0.3s;
    .app_navbar{
        height: calc(100vh - 100px);
        overflow-y: auto;
        ul{
            margin-bottom: 15px;
        }
        li{
            display: block;
            button{
                padding: 10px 20px;
                width: 100%;
                text-align: left;
                font-size: 12px;
                color: $main-color;
                position: relative;
                i{
                    width: 40px;
                    display: inline-block;
                    font-size: 20px;
                }
                span.count{
                    width: 20px;
                    height: 18px;
                    font-size: 9px;
                    color: $white-color;
                    background-color: #d35c88;
                    border-radius: 3px;
                    @include flexAlignCenter(row);
                    justify-content: center;
                }
            }
        }
        li.active{
            button{
                background-color: $white-color;
                box-shadow: 0px 1px 6px 0px $nav-shadow;
                color: $link-color;
                display: flex;
                .mat-button-wrapper{
                    width: 100%;
                }
                &::before{
                    content: '';
                    position: absolute;
                    left: 0; top: 0;
                    width: 4px; height: 100%;
                    border-radius: 0px 10px 10px 0px;
                    background-color: $primary-color;
                }
                 &::after{
                    content: '\e987';
                    font-size: 10px;
                    position: absolute;
                    right: 20px;
                    font-family: 'flowtopia-icon';
                }
            }

        }
    }
    .toggle_sidebar{
        height: 45px;
        border-top: 1px solid $line-color;
        background-color: $white-color;
        padding: 0px 20px;
        @include flexAlignCenter(row);
        border-radius: 0;
        color: $main-color;
        width: 100%;
        text-align: left;
        span.icon-angle_double_left{
            width: 40px;
            height: 12px;
            position: relative;
            display: inline-block;
            font-size: 10px;
            padding-left: 5px;
            &::before{
                position: absolute;
                transform: rotate(-180deg);
            }
        }
        span.toggle_txt{
            font-size: 12px;
        }
    }
    .app_navbar, .toggle_sidebar{
        width: 260px;
    }
}
.process_sidebar{
    top: 0;
    z-index: 9;
    .sidebar_header{
        @include flexAlignCenter(row);
        background-color: $white-color;
        height: 55px;
        padding: 0px 20px;
        position: relative;
        z-index: 9;
        border-bottom: 1px solid $border-color;
        // box-shadow: 0px 2px 43px -6px rgba(0,0,0,0.2);
        h2{
            margin: 0px;
            font-weight: 600;
            color: $heading-color;
            font-size: 16px;
            max-width: 180px;
            @include textEllipsis();
        }
        .back_btn{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            padding: 0px;
            min-width: auto;
            background-color: $bg-color;
            justify-content: center;
            @include flexAlignCenter(row);
            margin-right: 10px;
            line-height: 0px;
            span{
                font-size: 11px;
            }
        }
    }
}

.shadow_block{
    background-color: $white-color;
    box-shadow: 0px 1px 12px -3px rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 0px 0px;
    &:last-child{
        border-bottom: none;
    }
    .list{
        overflow: hidden;
        padding: 15px;
        @include flexAlignCenter(row);
        justify-content: space-between;
        border-bottom: 1px solid $line-color;
        .list_info{
            flex: 1;
            label.status{
                font-size: 8.5px;
                font-weight: 500;
                text-transform: uppercase;
            }

            h2{
                font-size: 12px;
                margin: 0px 0px;
                font-weight: 500;
                line-height: 16px;
                color: $main-color;
            }
            h3{
                font-size: 10px;
                margin: 0px;
                opacity: 0.8;
            }
        }
        .list_author{
            @include flexAlignCenter(row);
            label{
                text-transform: uppercase;
                font-size: 9px;
                font-weight: 400;
                opacity: 0.6;
            }
            h4{
                margin: 0px;
                font-size: 11px;
                line-height: 10px;
                opacity: 0.8;
            }
            .list_split{
                margin-left: 10px;
            }
            .time h4{
                &::before{
                    content: '\e989';
                    font-family: 'flowtopia-icon';
                    margin-right: 5px;
                }
            }
        }
    }
}
.listing_header{
    height: 50px;
    border-bottom: 1px solid $line-color;
    @include flexAlignCenter(row);
    padding: 0 15px;
    border-radius: 4px 4px 0px 0px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    .list_search{
        height: 100%;
        flex: 1;
        form{
            @include flexAlignCenter(row);
            height: 100%;
            span.icon-search{
                font-size: 15px;
                width: 25px;
                color: $basic-color;
            }
            input{
                height: 100%;
                width: 100%;
                font-size: 13px;
                border: none;
                -webkit-appearance: none;
            }
        }
    }
    .header_actions{
        button{
            border: 1px solid $line-color;
            border-radius: 2px;
            margin-left: 5px;
            padding: 4px 4px;
            font-size: 9px;
            line-height: 17px;
            color: $basic-color;
            .mat-button-wrapper span{
                font-weight: 500;
            }
            i{
                font-size: 8px;
                margin-left: 5px;
            }
        }
    }

}
.listing_scroll {
    height: calc(100vh - 140px);
    overflow-y: auto;
}
.selected{
    background-color: $highlight-color;
    box-shadow: inset 3px 0px 0px 0px $link-color;
}
.block_section .block_content{
    // height: calc(100vh - 196px);
}
.comments_view{
    margin: 0;
    .comment_list{
        @include flexAlignCenter(row);
        align-items: flex-start;
        margin-bottom: 20px;
        .user{
            width: 26px;
            height: 26px;
            border-radius: 50%;
            @include flexAlignCenter(row);
            justify-content: center;
            color: $white-color;
            background-color: $primary-color;
            font-size: 9px;
            margin-right: 8px;
            span{
                width: 26px;
                text-align: center;
            }
        }
        .comment_body{
            flex: 1;
            h4{
                margin: 0px 0px 4px;
                font-size: 11px;
                font-weight: 500;
                color: $heading-color;
                span{
                    font-size: 8px;
                    opacity: 0.4;
                }
            }
            p{
                margin: 0px;
                font-size: 10px;
                color: $heading-color;
                opacity: 0.8;
                word-break: break-word;
            }
            pre{
                margin: 0px;
                font-size: 10px;
                color: $heading-color;
                opacity: 0.8;
                word-break: break-word;
            }
        }
    }
}
// For showing validation error
// Added by Amal S R
span.error {
  color: red;
  font-weight: 400;
  font-size: 11px;
}

// For popup

.app_modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1200;
  left: 0; top: 0;
  background: rgba(0,0,0,.32);
}
.app_modal{
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  animation: slide-up 0.4s ease;
}

.modal_dialog{
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12);
  background:#fff;
}
.modal_dialog{
  margin: 0px auto;
  max-width: 600px;
  position: relative;
  width: 100%;
}
.modal_header h3{
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  color: #202637;
}
.modal_header p{
  font-size: 13px;
  margin: 0;
}
.modal_body{
  padding: 10px 0px 0px 0px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal_body p{
  font-size: 14px;
  font-weight: 400;
}
.modal_header{
  padding: 0px 0 10px;
}
.modal_footer{
  display: flex;
  padding-top: 20px;
  justify-content: flex-end;
}

.warning_message {
  margin-bottom: 40px
}
.warning_message h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.cancel {
  background-color: #ececf2;
  color: #8383aa;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 13px 22px;
  border-radius: 3px;
  font-weight: 600;
}

.tooltip {
  font-size: 11px;
}

.box_1 .mat-ripple-element {
    background-color: rgba(115, 129, 225, 0.08) !important;
}
.box_2 .mat-ripple-element {
    background-color: rgba(234, 180, 104, 0.08) !important;
}
.box_3 .mat-ripple-element {
    background-color: rgba(148, 212, 131, 0.08) !important;
}
.box_4 .mat-ripple-element {
    background-color: rgba(231, 112, 135, 0.08) !important;
}

.header_action a{
    padding: 0 15px !important;
    min-width: auto !important;
}
.header_action li:last-child a{
    padding-right: 0 !important;
}
.mat-expansion-panel{
    color: $main-color !important;
}
.mat-menu-item{
    font-size: 12px !important;
    line-height: 38px !important;
    height: 38px !important;
    padding: 0 15px !important;

}
.mat-menu-item{
    color: $main-color !important;
}
.empty_section button{
    padding: 2px 25px !important;
    border-radius: 3px !important;
    font-size: 12px !important;
    background: $primary-color !important;
}


.app_login{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0; left: 0;
    display: flex;
}
.login_left_bg{
    width: 460px;
    min-height: 700px;
    padding: 20px 20px;
    .login_logo{
        max-width: 240px;
    }
}
.login_flex{
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_container{
    max-width: 580px;
    width: 100%
}
.login_form_header{
    margin-bottom: 20px;
    h2{
        margin: 0px 0 5px;
        font-size: 30px;
        font-weight: 500;
    }
    h3{
        margin: 0px;
        font-size: 15px;
        opacity: 0.7;
    }

}

.log_form_sec {
    margin-bottom: 30px;
    label{
        display: block;
        margin-bottom: 6px;
        font-size: 12px;
        font-weight: 500;
        span{
            color: #f00;
        }
    }
    input{
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        border: 1px solid rgb(199, 202, 209);
        border-radius: 4px;
        background-color: white;
        box-sizing: border-box;
        box-shadow: none;
        color: rgb(34, 37, 43);
        padding: 15px;
        height: 48px;
        width: 100%;
    }
    button{
        background-color: $primary-color;
        color: #fff;
        padding: 15px;
        height: 52px;
        width: 100%;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 600;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .spin{
            margin-left: 5px;
            circle{
                stroke: #fff;
            }
        }
    }
}

.mat-form-field-appearance-legacy .mat-form-field-infix{
    border-top: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
}
.mat-select-value{
    overflow: auto;
    white-space: normal;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0;
}
.mat-select{
    font-size: 11px;
    font-weight: 400;
    border: 1px solid rgb(199, 202, 209);
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: none;
    color: rgb(34, 37, 43);
    padding: 10px 10px;
    height: 34px;
    width: 100%;
    &:focus{
        // border-color: $focus;
        box-shadow: 0px 0px 1px 0px $focus;
    }
}
.mat-select-arrow {
    border-left: 3px solid transparent !important;
    border-right: 3px solid transparent !important;
    border-top: 3px solid !important;
}
.mat-select-arrow{
    color: $main-color;
    opacity: 0.5;
}
.mat-form-field-type-mat-select .mat-form-field-label{
    font-size: 11px;
    opacity: 0.4;
    padding: 10px 10px;
    font-weight: 400;
    color: #22252b;
    height: 33px;
}
.toggle_label{
    font-size: 12px;
    opacity: 0.8;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}
.mat-slide-toggle-thumb-container,
.mat-slide-toggle-thumb{
    width: 16px !important;
    height: 16px !important;
}
.mat-slide-toggle .mat-slide-toggle-ripple {
    top: calc(50% - 15px) !important;
    left: calc(50% - 15px) !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
}
.mat-slide-toggle-bar {
    width: 30px !important;
    height: 11px !important;
}
.mat-radio-button{
    font-size: 12px !important;
    color: $main-color;
    margin-right: 18px !important;
}
.mat-radio-outer-circle,.mat-radio-container,.mat-radio-inner-circle {
    width: 18px !important;
    height: 18px !important;
}
.mat-radio-button .mat-radio-ripple{
    top: calc(50% - 15px) !important;
    left: calc(50% - 15px) !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
}
.info_right{
    position: relative;
}
.tab_action{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    width: auto !important;
}
.info_right .mat-tab-header{
    border-bottom: 1px solid #dbdced;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    height: 50px;
    padding: 0 15px;
    background-color: #4b5568;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
}
.mat-tab-label {
    min-width: auto !important;
    opacity: 1 !important;
    color: #fff;
    padding: 0 15px !important;
    font-size: 12px;
    height: 49px !important;
}
.edit_block{
    background-color: transparent !important;
}
.tab_cound{
    margin-left: 5px;
    background: #eab468;
    padding: 0px 7px;
    border-radius: 3px;
    font-size: 10px;
}
.mat-ink-bar{
    background-color: #ff4081 !important;
}
.seaction_header{
    margin: 0px 0 12px;
    font-size: 13px;
    font-weight: 500;
    color: #d35c88;
}
.task_name_view{
    text-transform: uppercase;
    margin: 0px 0 12px;
    font-size: 16px;
    font-weight: 500;
}
.btn_primary[disabled]{
    background-color: #c0c8d7 !important;
    color: #919499 !important;
}
.mat_tab_content{
    max-height: calc(100vh - 140px);
}
.add_scroll{
    max-height: calc(100vh - 140px);
}
.dash_content_scroll {
    max-height: calc(100vh - 200px);
}
.dashboard_list .mat_tab_content {
    max-height: calc(100vh - 250px);
}
.dashboard_list .add_scroll {
    max-height: calc(100vh - 250px);
}


.quote_msg {
    margin: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    img{
        max-width: 140px;
        margin-bottom: 8px;
    }

    p{
        font-size: 11px;
        font-style: italic;
        opacity: 0.8;
        margin: 0px;
    }
}
.empty_quote{
    display: flex;
    align-items: center;
    margin: 0px;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.no_task{
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 11px;
        font-style: italic;
        opacity: 0.8;
        margin: 0px;
    }
}
.dash_task{
    min-height: calc(100vh - 200px);
    justify-content: center;
    border: 1px dashed #ccd4dd;
}
.file_upload {
    width: 100%;
    border: 1px dashed #c7cad1 !important;
    height: 100px;
    font-size: 12px;
    opacity: 0.7;
    color: $main-color;
}
#file-label{
    font-size: 10px;
    line-height: 18px;
    color: $main-color;
}
.mat-progress-bar-fill::after {
    background-color: $primary-color !important;
}
.upload_view{
    min-width: 40%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #c7cad1;
    td{
        padding: 7px 10px;
        margin: 0px;
        font-size: 12px;
    }
    td:last-child{
        text-align: right;
    }
    .upload_view_btn{
        border: 1px solid $primary-color;
        text-transform: uppercase;
        font-size: 11px;
        padding: 3px 14px;
        border-radius: 3px;
        color: $primary-color;
        display: inline-block;
    }
}
.comment_submit{
    margin-bottom: 20px;
}
.task_comment{
    margin-bottom: 10px;
}
.post_comment{
    font-size: 11px !important;
    font-weight: 600 !important;
    margin-top: 8px !important;
}
.ps__thumb-y{
    width: 5px !important;
    right: 0 !important;
    background-color: #a6aab9 !important;
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y{
    background-color: #e8eaf2 !important;
}

.details {
    margin-bottom: 20px;
    label {
        display: block;
        margin-bottom: 5px;
        font-size: 10px;
        font-weight: 500;
        opacity: 0.6;
    }
    h4 {
        margin: 0px;
        font-size: 12px;
    }
}

.iti__country-list {
    overflow: auto;
    z-index: 99999;
    max-width: 250px;
    font-size: 10px;
}
.iti__country-list{
    border: 1px solid #eee;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    max-height: 200px;
}
.iti__country{
    width: 100%;
    display: block;
}
.iti--allow-dropdown input{
    font-size: 11px;
    font-weight: 400;
    border: 1px solid #c7cad1;
    border-radius: 2px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: none;
    color: #22252b;
    padding: 8px 10px;
    height: 34px;
    width: 100%;
}
.iti{
    width: 100%;
}
.iti__arrow {
    border-top: 3px solid #232a4b !important;
    opacity: 0.5;
}
.iti__arrow--up {
    border-bottom: 3px solid #232a4b !important;
}
.iti__flag{
    box-shadow: none !important;
}

.modal_footer button{
    font-size: 12px;
    margin-left: 5px !important;
}

.transition_modal{
    max-width: 780px;
}
.recurrence_modal{
    max-width: 460px;
}

.success_dialog{
    .iconz{
        text-align: center;
        margin: 10px;
        svg{
            width: 70px;
            height: 70px;
            margin: 0px;
        }
    }
    .success_content{
        h2{
            margin: 0px 0px 6px;
            font-size: 22px;
        }
        p{
            margin: 0px;
            opacity: 0.7;
            font-size: 13px;
        }
    }
}

/* spinner */

.btn-spinner {
  float: right;
  position: relative;
  top: 7px;
  margin-left: 5px;
}

/* spinner */

